# Project exclude paths
.idea
/.gradle/
/adapter/db/build/
/adapter/db/build/classes/java/main/
/adapter/mailer/build/
/adapter/rest/build/
/adapter/rest/build/classes/java/main/
/application/write/build/
/application/write/build/classes/java/main/
/core/build/
/core/build/classes/java/main/